.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.reviews__item {
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 5px;
}

.reviews__list span {
  color: lightcoral;
}

.reviews__list h3 {
  border-bottom: 2px solid lightcoral;
  padding-bottom: 5px;
}
