.cast {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.cast-card {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 12%;
  border-radius: 5px;
}

.cast-card span {
  font-weight: 700;
  font-size: 14px;
  color: goldenrod;
}
